<div class="stock-product" [formGroup]="parent">
    <div formArrayName="stock">
       <div *ngFor="let item of stocks;let i=index;">
            <div class="stock-product__content" [formGroupName]="i">
                <div class="stock-product__name inline-block text-center border border-2 py-2  w-[500px]">
                    {{item.value.product_id}}
                </div>
                <input type="number" min="10" max="1000" step="10" required formControlName="quantity" class="border rounded py-2 px-3 mb-2 w-[500px]" placeholder="Enter quantity">
                <button class="border rounded py-2 px-3 mb-2 bg-blue-300 hover:bg-blue-700" (click)="onRemove(item,i)"  type="button">Remove Product</button>
            </div>
       </div>
    </div>
</div>